* {
  background-color: #fce7d2;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.titulo {
  color: #eb5874;
  text-align: center;
}

button {
  color: #fd8086;
}
